:root {
    --default-font: "Outfit", sans-serif;
    --White: #ffffff;
    --Black: #000000;
    --box-Black-50: #0000001f;
    --box-Black-100: #0000001a;
    --box-Black-200: #00000014;
    --box-Black-300: #00000005;
    --box-Black-400: #00000000;
    --box-Black-500: #00000008;
    --box-Black-600: #0000000a;
    --box-Black-700: #0000000d;
    --box-Black-800: #00000003;
    --grey-50: #f4f5f6;
    --grey-100: #e3e6e8;
    --grey-200: #c5cbd1;
    --grey-300: #aab2bb;
    --grey-400: #7f8c99;
    --grey-500: #5f6b77;
    --grey-600: #384047;
    --grey-700: #22262b;
    --purple-50: #8528c8;
    --purple-100: #8528c8;
    --purple-200: #8528c8;
    --purple-300: #8528c8;
    --purple-400: #8528c8;
    --purple-500: #8528c8;
    --purple-600: #6A0DAD;
    --purple-700: #8528c8;
    --orange-50: #ffe0cc;
    --orange-100: #ffb366;
    --orange-200: #ff8a33;
    --orange-300: #ff6600;
    --orange-400: #cc5200;
    --orange-500: #993d00;
    --success-50: #dbffe3;
    --success-100: #94ffaa;
    --success-200: #34e175;
    --success-300: #0db14b;
    --success-400: #078737;
    --success-500: #1f6728;
    --success-600: #035a23;
    --success-700: #013a14;
    --danger-50: #fdedee;
    --danger-100: #fbd0d3;
    --danger-200: #f6a2a6;
    --danger-300: #f47179;
    --danger-400: #f4324c;
    --danger-500: #9d1b2d;
    --danger-600: #791120;
    --danger-700: #4f020d;

    --middleShadow: 0px 2px 4px 0px var(--box-Black-50), 0px 7px 7px 0px var(--box-Black-100), 0px 16px 10px 0px var(--box-Black-200), 0px 28px 11px 0px var(--box-Black-300), 0px 44px 12px 0px var(--box-Black-400);
    --elevationHighSubtle: 0px 19px 42px 0px #0000000d, 0px 77px 77px 0px #0000000a, 0px 173px 104px 0px #00000008, 0px 307px 123px 0px #00000003, 0px 480px 134px 0px #00000000;
    --elevationHighStrong: 0px 9px 20px 0px #0000001a, 0px 37px 37px 0px #00000017, 0px 83px 50px 0px #0000000d, 0px 148px 59px 0px #00000003, 0px 232px 65px 0px #00000000;
    --elevationMiddle: 0px 2px 4px 0px #0000001f, 0px 7px 7px 0px #0000001a, 0px 16px 10px 0px #00000014, 0px 28px 11px 0px #00000005, 0px 44px 12px 0px #00000000;
    --elevationClose: 0px 0px 1px 0px #00000026, 0px 2px 2px 0px #0000001a, 0px 3px 2px 0px #0000000d, 0px 6px 2px 0px #00000008, 0px 10px 3px 0px #00000000;
    --elevationHigh: 0px 480px 134px 0px var(--box-Black-400), 0px 307px 123px 0px var(--box-Black-800), 0px 173px 104px 0px var(--box-Black-500), 0px 77px 77px 0px var(--box-Black-600), 0px 19px 42px 0px var(--box-Black-700);
}
